@using RahafStore.ViewModel
@model CategoryVM

@section Titel {
Categories
}
@section SubTitel {
Details}

<div>
    <p> Name : @Model.Name </p>
    <p>
        CreatedOn  : @Model.CreatedOn
    </p>
        <p>UpdatedOn : @Model.UpdatedOn  </p>

</div>